[Desktop Entry]
Type=Application
Name=Black Curtain
Comment=Fill a monitor with a solid color
Exec={EXEC}
Icon=barafu-black-curtain
Categories=Utility;
Keywords=silly;
Terminal=false
StartupNotify=false
StartupWMClass=black_curtain
SingleMainWindow=true
X-AppImage-Name=Black Curtain
X-AppImage-Version={VERSION}
X-AppImage-Arch=x86_64
